
 :root {
                --main-color: #0084b4;
                --bg-global: #262626;
                --text-global: #ffffff;
                --btn-color: #523ee8;
            }

           

            input {
                line-height: normal;
            }
            input[type=&quot;checkbox&quot;] {
                box-sizing: border-box;
                padding: 0;
            }
            textarea {
                overflow: auto;
            }
            optgroup {
                font-weight: bold;
            }
            .section,
            .widget {
                margin: 0;
                padding: 0;
            }
            .hide {
                display: none;
            }

            #wrapper {
                margin: 0 auto;
                overflow: hidden;
                padding: 60px 0 0;
            }
            .templateina_badge-sale,
            .templateina_badge-trend {
                z-index: 2;
                width: 50px;
                height: 50px;
                border-top-left-radius: 4px;
                left: 0;
                pointer-events: none;
                position: absolute;
                top: 0;
            }
            .show .templateina_badge-sale,
            .show .templateina_badge-trend {
                visibility: visible;
                opacity: 1;
            }
            .templateina_badge-sale,
            .templateina_badge-trend {
                visibility: hidden;
                opacity: 0;
            }

            .izaias_raw {
                overflow: hidden;
                display: flex;
                flex-flow: column nowrap;
                min-height: 100vh;
            }
            @-webkit-keyframes lg-right-end {
                0% {
                    left: 0;
                }
                50% {
                    left: -30px;
                }
                100% {
                    left: 0;
                }
            }
            @-moz-keyframes lg-right-end {
                0% {
                    left: 0;
                }
                50% {
                    left: -30px;
                }
                100% {
                    left: 0;
                }
            }
            @-ms-keyframes lg-right-end {
                0% {
                    left: 0;
                }
                50% {
                    left: -30px;
                }
                100% {
                    left: 0;
                }
            }
            @-webkit-keyframes lg-left-end {
                0% {
                    left: 0;
                }
                50% {
                    left: 30px;
                }
                100% {
                    left: 0;
                }
            }
            @-moz-keyframes lg-left-end {
                0% {
                    left: 0;
                }
                50% {
                    left: 30px;
                }
                100% {
                    left: 0;
                }
            }
            @-ms-keyframes lg-left-end {
                0% {
                    left: 0;
                }
                50% {
                    left: 30px;
                }
                100% {
                    left: 0;
                }
            }
            svg {
                vertical-align: middle;
            }
            h2.post-title {
                font:
                    700 14px Helvetica Neue,
                    Helvetica,
                    Arial,
                    sans-serif;
            }
            h2.post-title {
                margin-bottom: 12px;
            }
            h2.post-title a {
                font-family: var(--html-font);
                -webkit-font-smoothing: subpixel-antialiased;
                cursor: pointer;
                position: relative;
                display: inline-block;
                text-decoration: none;
                color: hsl(0, 0%, 30%);
                vertical-align: bottom;
                max-width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .author-name {
                font-size: 12px;
                letter-spacing: 0;
                line-height: 16px;
                font-weight: 700;
                color: #959597;
            }
            h2.post-title {
                margin-top: 0;
                color: #303030;
                font-weight: 800;
                line-height: 28px;
                font-family: var(--main-font);
            }
            h2.post-title a:hover {
                text-decoration: underline;
            }
            .product-info {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
            }
            .izaias-latest-title {
                text-align: center;
                margin: 0 0 20px 0;
            }
            .izaias-latest-title h2 {
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 20px;
                font-weight: 700;
                color: #404040;
                margin: 0 0 10px;
                line-height: 26px;
            }
            @media (min-width: 1000px) {
                .izaias-latest-title {
                    display: flex;
                    justify-content: space-between;
                    text-align: left;
                }
            }
            .index-content {
display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 0;
    margin: 0;
    list-style: none;
            }
            .index-post {
                flex-basis: 100%;
                min-width: 0;
            }
            @media (max-width: 999px) and (min-width: 640px) {
                .index-post:nth-child(-n/**/+2) {
                    margin-top: 0;
                }
                .index-post:nth-child(2n) {
                    margin-right: 0;
                }
                .index-post {
                    min-width: 0;
                    flex-basis: 48.90511%;
                    margin-right: 0.6%;
                    margin-top: 0.6%;
                }
            }
            @media (max-width: 640px) {
                .index-post:nth-child(n/**/+1) {
                    margin-top: 20px;
                }
            }
            .index-post {
                display: flex;
                flex-direction: column;
            }
            .post-list {
                box-shadow: 0 0 16px #ccc;
                position: relative;
                display: flex;
                flex-direction: column;
                height: 100%;
                border-radius: 4px;
                background: #fff;
                text-align: left;
                transition:
                    translate 0.18s ease 0s,
                    box-shadow 0.18s ease 0s;
                transform: translateY(0px);
            }
            .post-list:hover {
                box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
                transform: translateY(-1px);
            }
            @media (min-width: 1350px) {
                .index-post:nth-child(-n/**/+4) {
                    margin-top: 0;
                }
                .index-post:nth-child(4n) {
                    margin-right: 0;
                }
                .index-post {
                    min-width: 0;
                    flex-basis: 23.3577%;
                    margin-right: 0.6%;
                    margin-top: 0.6%;
                }
            }
            @media (max-width: 1349px) and (min-width: 1000px) {
                .index-post:nth-child(-n/**/+3) {
                    margin-top: 0;
                }
                .index-post:nth-child(3n) {
                    margin-right: 0;
                }
                .index-post {
                    min-width: 0;
                    flex-basis: 31.87348%;
                    margin-right: 0.6%;
                    margin-top: 0.6%;
                }
            }
            .title-post-details {
                z-index: 1;
                min-width: 0;
                flex-grow: 1;
            }
            .post-image-relative {
                position: relative;
            }
            .itemHomeFlex {
                flex-grow: 1;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: stretch;
                padding-top: calc((8px) + (4px));
            }
            .itemHomeStatus {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .itemPriceShopina {
                display: flex;
                gap: 6px;
                line-height: calc((16px) + (12px));
                font-size: 18px;
                font-weight: 700;
            }
            .itemOriginalPrice {
                color: #eb1515ad;
                text-decoration: line-through;
                vertical-align: baseline;
            }
            .itemHomeFree {
                color: #6ca12b;
                line-height: calc((16px) + (12px));
                font-size: 14px;
                font-weight: 700;
            }
            .itemHomeStar {
                display: flex;
                padding-right: 8px;
                height: 20px;
            }
            .itemIconStar {
                display: flex;
                align-items: center;
                margin-right: 4px;
            }
            .itemStarCount,
            .itemHomeSales {
                color: #999;
            }
            .itemHomeSales,
            .itemHomeStar {
                line-height: 20px;
                font-size: 12px;
            }
            .itemHomeMore {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                flex-grow: 0;
            }
            .itemHomeAddItem {
                position: relative;
                width: 100%;
                height: 40px;
                display: flex;
                justify-content: flex-end;
            }
            .itemHomeAddItem .item_add {
                padding: 0;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background: transparent;
                width: 40px;
                border: 1px solid #ccc;
                color: #666;
                cursor: pointer;
                border-radius: 2px;
                line-height: 40px;
                height: 40px;
                text-align: center;
                flex-shrink: 0;
                position: relative;
            }
            .templateina-hide {
                display: none !important;
            }
            .itemHomeDemo {
                font-size: 0;
            }
            .itemHomeDemo a.demo-button {
                box-sizing: border-box;
                display: inline-block;
                -webkit-font-smoothing: antialiased;
                height: 40px;
                line-height: 38px;
                cursor: pointer;
                padding: 0 16px;
                margin: 0 4px;
                font-size: 12px;
                text-decoration: none;
                font-weight: 700;
                border-radius: 2px;
                flex-grow: 1;
                white-space: nowrap;
                border: 1px solid #087096;
                color: #087096;
            }
            .itemHomeAddItem .item_add:hover {
                background: #ccc;
                color: #fff;
            }
            .itemHomeDemo a.demo-button:hover {
                background: #087096;
                color: #fff;
            }
            .post-image-relative .izaias_post-image {
                background-color: #f2f2f3;
                border-radius: 4px 4px 0 0;
            }
            .post-list:hover .post-share-link,
            .post-list:hover .item-post-shadow {
                opacity: 1;
                pointer-events: auto;
            }
            .post-share-link {
                display: flex;
                justify-content: flex-end;
                padding: 0 16px 16px 0;
                position: absolute;
                right: 0;
                bottom: 0;
                transition: opacity 0.4s ease;
                opacity: 0;
                pointer-events: none;
            }
            .post-share-link a {
                color: #fff;
                fill: #fff;
                width: 24px;
                height: 24px;
                display: inline-block;
                vertical-align: middle;
            }
            .share-item-line {
                height: 24px;
                width: 1px;
                display: block;
                background: #fff;
                opacity: 0.5;
                margin: 0 16px;
            }
            .item-post-shadow {
                width: 100%;
                top: 0;
                height: 0;
                padding-top: 50.847457627118644%;
                position: absolute;
                transition: opacity 0.4s ease;
                background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0, transparent 80px);
                opacity: 0;
            }
            a.post-image-link {
                width: 100%;
                height: 100%;
                display: block;
            }
            .izaias_post-image {
                position: relative;
                padding-top: 50.847457627118644%;
                background: hsl(0, 0%, 80%);
                background-size: 900%;
                border-radius: 4px;
                overflow: hidden;
                transform: translate3d(0, 0, 0);
            }
            img.post-thumb {
                width: 100%;
                height: auto;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                transition-duration: 0.5s;
                transition-property: left;
                z-index: 1;
            }
            h2.post-title {
                font-weight: 700;
                letter-spacing: 0;
                line-height: 16px;
                margin: 0 0 3px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                font-size: 14px;
            }
            @media (min-width: 569px) {
                /*.templateina-media{padding:15px}*/
            }
            #blog-pager {
                padding: 0;
                margin: 60px 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
            }
            #blog-pager a {
                color: inherit;
                text-decoration: none;
            }
            #blog-pager .load-more {
                align-items: center;
                background: var(--main-color);
                border-radius: 4px;
                color: #fff;
                display: flex;
                box-shadow: 0 2px 0 #016083;
                font-size: 16px;
                padding: 10px 24px;
                height: 44px;
                justify-content: center;
                box-sizing: border-box;
                transition: background-color 0.2s ease-in-out;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                position: relative;
                text-align: center;
                text-decoration: none;
                transition: all 0.1s;
            }
            .loader {
                position: relative;
                width: 100%;
                height: 100%;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
            }
            .loader:after {
                content: &quot;&quot;;
                display: block;
                width: 26px;
                height: 26px;
                box-sizing: border-box;
                margin: 0;
                border: 3px solid var(--main-color);
                border-right-color: #dfdfdf;
                border-radius: 100%;
                animation: spinner 0.75s infinite linear;
                transform-origin: center;
            }
            @keyframes spinner {
                0% {
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
                to {
                    -webkit-transform: rotate(1turn);
                    transform: rotate(1turn);
                }
            }
            #blog-pager .loading .loader {
                height: 36px;
            }
            #blog-pager .loading,
            #blog-pager .no-more {
                display: none;
            }
            #blog-pager .no-more.show {
                display: flex;
                background-color: rgba(155, 170, 175, 0.12);
                box-shadow: 0 2px 0 #dfdfdf;
                color: #777;
                cursor: not-allowed;
                padding: 0 25px;
                border: 0;
            }
            @media (min-width: 480px) {
                #blog-pager {
                    justify-content: center;
                    flex-wrap: nowrap;
                }
            }
            .blog-pager-older-link {
                padding: 0;
            }
            .post-save label {
                cursor: pointer;
            }
            .post-save input:checked ~ label svg {
                color: #ff6966;
            }
            .product-info {
                padding: 16px;
            }
            @media (max-width: 999px) {
                .izaias_main {
                    margin-top: 65px;
                    flex: 1 0 auto;
                }
            }
            @media only screen and (max-width: 800px) {
                #blog-pager {
                    justify-content: center;
                    margin: 30px 0;
                }
                .izaias-latest-title {
                    text-align: center;
                    display: block;
                }
            }
            @media screen and (max-width: 320px) {
                #wrapper {
                    padding: 5px;
                }
                h2.post-title {
                    margin-left: 0;
                }
            }

            html {
                text-size-adjust: 100%;
                box-sizing: border-box;
                font-family: var(--html-font);
            }
            @media (min-width: 1200px) {
                #wrapper {
                    width: 98%;
                    max-width: 98%;
                }
            }
            @media (min-width: 750px) {
                #wrapper {
                    padding: 60px 20px 0px;
                    margin-top: -49px;
                }
            }

            @media only screen and (max-width: 800px) {
            }
            @media only screen and (max-width: 640px) {
                #wrapper {
                    padding: 0px 20px;
                }
            }
            @media only screen and (max-width: 480px) {
                #wrapper {
                    padding: 5px;
                    margin-top: 60px;
                }
            }

          
